
.menu .expnd-btn img{
	float: left;
	height: 30px;
	
}

.menu .expnd-btn p{
	padding: 5px;
    margin-left: 30px;
}

.menu .expnd-btn::after{
	content: "";
	clear: both;
	display: table;
}

.menu .expnd-btn{
	visibility: hidden;
    margin: auto;
    width: 80px;
}
.menu{
	background-color: lightblue;
	font-family: 'Raleway', helvetica, sans-serif;
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	text-transform: capitalize;
	overflow: auto;
}

.menu li{
	padding: 0.6rem;
	font-size: 1.2rem;
	background-color: #224e90;
	margin: 30px 0;
	color: white;
	box-shadow: 10px 10px 5px 0 black;
	
	/*add font space */
}

.menu li:hover{
	cursor: pointer;
	border-left: solid 8px  #263859;
	background-color: blue;
	font-weight: 700;
}

.menu li.clicked{
	border-left: solid 8px  #263859;
	background-color: blue;
	font-weight: 700;
}

@media only screen and (max-width: 641px){
	/*for mobile*/
	.menu .expnd-btn{
		visibility: visible;
	}
	.menu ul{
		padding: 0;
		display: none;
	}
	.menu li{
		margin: 1px 0;
		box-shadow: none;
	}
	



}

.content{
	/*background-color: yellow;*/
	font-family: 'Roboto', sans-serif;
}
.content h1{
	text-transform: capitalize;
	width: 300px;
	float: right;
	padding: 0.6rem;
	padding-left: 3rem;
	color: white;
	background-color: #263859;
	box-shadow: 10px 10px 5px 1px #263859;
	margin-right: 10px;
	font-weight: 500;
}
iframe{
	width: 100%;
	border: none;
	border-top: solid 1px black;
}